.comments-block {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    hr {
        margin: 0.5rem 0rem;
    }

    .comment-input {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        border-radius: 0rem;

        input {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ccc;
            transition: border-color 0.3s;

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }
    }
}

.comments {

    button{
        &.boxed{
            font-size: 1rem;
            padding: 0.5rem;
            margin-bottom: 1rem;
            transform: rotate(0);
        }
    }

    .comment-card {
        padding: 0.5rem;
        transition: transform 0.2s;

        &:hover {
            transform: translateY(-2px);
        }

        .comment-actions {
            gap: 0.3rem;
            display: flex;
            button {
                margin-right: 0.5rem;
                padding: 0.2rem;
                align-items: end;
                justify-content: end;
                display: flex;
                align-items: center;
                gap: 0.2rem
            }
        }

        .comment-info {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: #555;

            h1 {
                font-size: 1rem;
                margin: 0;
            }

            h3 {
                font-size: 0.8rem;
                color: #888;
                margin-left: 1rem;
            }
        }

        p {
            font-size: 14px;
            margin: 8px 0;
        }
    }
}

.reply-input {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0rem;
    margin-top: 0.5rem;

    input {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ccc;
        transition: border-color 0.3s;

        &:focus {
            border-color: #007bff;
            outline: none;
        }
    }
}

button {
    color: white;
}
.reply-button {
    display: flex;
    align-items: center;
    gap: 4px; /* Відстань між текстом і іконкою */
  }
  