header {
    width: 100%;
    height: 5rem;
    background-color: $special-dark-purple;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .red {
        color: $special-red;
    }

    .title {
        margin: auto 4vh auto;
        text-decoration: none;
        font-size: 4rem;
        color: $main-text-color;
        font-family: "RubikBubbles";
    }

    .navMenu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: auto 0;
        font-size: 2.5rem;

        a {
            text-decoration: none;
            color: $main-text-color;
            margin: 0 4vh;
            padding: 0.5rem 1.6rem;
        }

        .signLink {
            background-color: $purple-btn-color;
            border-radius: 0.6rem;
        }
    }
}
