.iconsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem auto 0.5rem;
    gap: 3rem;
    width: 100%;

    .iconsBlockElement {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 18rem;
        gap: 2rem;
        background-color: $special-light-purple;
        border-radius: 0.5rem;
        cursor: pointer;

        img {
            max-height: 90%;
            max-width: 90%;
        }
    }
}
