.iconsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin: 0.5rem auto 0.5rem;
    width: 100%;

    .iconsBlockElement {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32%;
        margin-bottom: 2%;
        height: 18rem;
        background-color: $special-light-purple;
        border-radius: 0.5rem;
        cursor: pointer;
        overflow: hidden;

        img {
            max-height: 90%;
            max-width: 90%;
            transition: transform 0.1s linear;
        }
    }

    .iconsBlockElement:hover{

        img{
            transform: scale(1.1);
        }
    }
}


.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;

    li {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: $purple-btn-color;
            color: $main-text-color;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 1.75rem;
            font-weight: bolder;
            width: 2.5rem;
            height: 2.5rem;
            transition: transform 0.1s ease;
        }

        a:hover {
            color: $special-dark-purple;
            transform: scale(1.1);
        }
    }
}

.activePaginationPane {
    a {
        border: solid 0.3rem #2BA36C;
        border-radius: 50%;
    }
}
