$main-clr: #65c7ee;
$main-clr-shadow: #46a5ca;

$main-shadow: #3785A6;

$secondary-clr: #5bbe64;
$compl-clr: #911111;

$bg-main: #ecebeb;
$bg-white: white;
$bg-light: #f8f5f0;
$bg-dark: #dbd3b2;

$main-text-clr: #000;
$primary-hover: #0056b3;

$main-font: 'Times New Roman';


@import "header";
@import "games";
@import "news";
@import "footer";
@import "sportPage";
@import "sign";
@import "newsPage";
@import "notExistingPage";
@import "noItems";
@import "loader";
@import "leagueTeamPage";
@import "videoPlayer";
@import "searchContainer";
@import "pagination";
@import "languageToggleContainer";
@import "preferencesPage";
@import "account";
@import "media1024";
@import "media768";
@import "media480";
@import "filters";
@import "search";

@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('./fonts/UnifrakturMaguntia-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'PirataOne';
  src: url('./fonts/PirataOne-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'GrenzeGotisch';
  src: url('./fonts/GrenzeGotisch-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'CyrillicGoth';
  src: url('./fonts/CyrillicGoth.ttf') format('woff2');
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: $main-font;
  background-color: $bg-main;
}

.hidden {
  display: none;
}

.showcase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-self: center;
  margin: 2rem 0;
  background-color: white;
  box-shadow: 0 4px 10px $main-shadow;
  width: fit-content;
  padding-left: 2rem;
  padding-right: 1rem;

  .block-title {
    font-size: 2.2rem;
    color: $compl-clr;
    background-color: $bg-white;
    width: fit-content;
    height: fit-content;
    align-self: start;
    padding: 0 5px;
  }

  .blue-placeholder {
    margin-top: 1rem;
    width: 404px;
    padding: 1rem 0;
    align-content: center;
    justify-content: center;
    align-self: center;
    max-width: 400px;
    background-color: $main-clr;
    border: 2px solid $main-clr;
    min-width: 25rem;
    word-break: keep-all;
    height: 160px;
    text-align: center;

    h1 {
      margin: 1rem;
    }

    a {
      text-decoration: underline;
    }
  }
}

hr {
  height: 2px;
  background-color: rgb(51, 51, 51);
  border: none;
}

button {
  &.filled {
    background: black;
    border: none;
    border-radius: none;
    padding: 0.5rem 0.5rem;
    transition: border-color 0.3s ease-in-out;

    .nav-link {
      color: $bg-white;
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  &.login {
    right: 3rem;
  }

  &.translate-first {
    right: 6.5rem;
    color: $bg-white;
  }

  &.translate-second {
     right: 2rem;
     color: $bg-white;
  }

  &.filled:hover {
    transform: rotate(-2deg);
  }

  &.text {
    position: inherit;
    margin-right: 1rem;
    padding: 0.3rem 0.5rem;
    height: fit-content;
    align-self: center;
    justify-self: center;
    color: $bg-white;
    margin: 0;
  }

  &.arrow {
    position: inherit;
    margin-right: 1rem;
    padding: 0.3rem 0.2rem;
    height: fit-content;
    align-self: center;
    justify-self: center;

    .arrow {
      color: $bg-white;
      font-size: 2rem;
      padding: 0rem 0.3rem;
    }
  }

  &.boxed {
    align-self: center;
    justify-self: center;
    margin-top: 1.5rem;
    background-color: $main-clr;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 1.75rem;
    padding: .5rem 1.4rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: fit-content;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  &.boxed:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: -4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }

  &.boxed:hover:after {
    bottom: 2px;
    left: -2px;
  }
}

.input-field {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  overflow: scroll;
}

.input-field:focus {
  border-color: $main-clr-shadow;
}