$main-background-color: #D3D9E9;
$special-dark-purple: #31293F;
$special-light-purple: #A6A9C8;
$special-red: #B82426;
$main-text-color: #D3D9E9;
$purple-btn-color: #796EA8;
$special-grey: #818398;
$scroll-hover: #4a4453;
$scroll-thumb: #60566f;
$scroll-track: #f9eaff;

@mixin scrollbar-style {

    &::-webkit-scrollbar {
        width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
        background:  $scroll-track;
    }

    &::-webkit-scrollbar-thumb {
        background: $scroll-thumb;
        border-radius: 0.3rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $scroll-hover;
    }
}

@import "header.scss";
@import "games.scss";
@import "news";
@import "sportsBtn";
@import "footer.scss";
@import "sportPage";
@import "sign";
@import "iconsBlock.scss";
@import "stream.scss";
@import "newsPage.scss";

@font-face {
    font-family: 'RubikBubbles';
    src: url('./fonts/RubikBubbles-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Black.ttf') format('woff2');
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Merriweather";
    background-color: $main-background-color;

    @include scrollbar-style;
}

.hidden{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4vh;

}
