@media (max-width: 480px) {

  .navbar-outer{

    .navbar{
      margin: 0;
    }
  }

  .news-block{
    margin: 0;
    max-width: 100%;
    padding: 0 1rem;

    h1{
      font-size: 1.5rem;
    }

    .content{
      font-size: 1rem;
    }
  }

  .account-container, .registration{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 2rem;
    border: none;
    border-radius: 0;

    .account-title{
      padding: 0 1rem;
    }

    .accountInfoContainer{
      padding: 0 1rem;

      .account-actions{
        max-width: 100%;
      }

    }
  }

  .preferences{
    position: static;
  }

  .notExistingPage {
    margin: 7rem 0;

    h1, p{
      margin: 0 2rem;
    }
  }

  .sportPage{
    max-width: 100%;
    width: 100%;
    margin: 0;
    border: none;


    .sport-selection-grid {
      justify-content: space-around;
      padding: 0 2rem;
      grid-template-columns: repeat(2, minmax(5.55rem, 1fr));
    }
  }

  footer{
    flex-direction: column;
    align-items: center;

    .info-column{
      font-size: 1.1rem;
      width: 50%;
    }
  }

  .game-slider-showcase {
    .sport-options {
      button {
        font-size: 1.2rem;
        padding: 0.65rem 1.1rem;
      }
    }
  }

  .streams-page{
    
    .content{

      .game{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

      .filter-wrapper{
        .menu-btn{
          padding: 0.25rem;
        }
      }
    }
  }
  .showcase{
    width: 20%;
    

    .newsbox{
      .nav-link{
        max-width: 90%;
        width: 90%;
        div{
          max-width: 100%;
        }
      }
    }

    .games-column{
      max-width: 80%;
    }
  
    .game-card{
      max-width: 100%;
    }
    .newsbox{
      max-width: 90%;



      .horizontal{}



      .dot-pagination{
        max-width: 100%;
      }
    }
    .news-card{
      max-width: 80%;
    }
  }

  .grid-container{
    max-width: 80%;

    .grid{
      grid-template-columns: repeat(1, 1fr) !important;
      margin:1rem auto;
      padding: 0 1rem;
      gap: 1rem;
      .nav-link{
        div{
          max-width: 100%;
        }
      }
    }
  }
}