@media (max-width: 1024px) {

  .navbar-outer{

    .navbar{
      margin-left: 3rem;
    }
  }

  .news-block{
    max-width: 70%;
  }

  .preferences{
    max-width: 80%;
  }

  .account-container{
    max-width: 75%;
  }

  .language-button {
    font-size: 1rem;
  }

}