@media (max-width: 1024px) {

  .navbar-outer{

    .navbar{
      margin-left: 3rem;
    }
  }

  .news-block{
    max-width: 70%;

    .content{

      .article-section{
        display: flex;
        flex-direction: column;

        img{
          margin: auto 0;
          float: none;
        }
      }
    }
  }

  .preferences{
    max-width: 45%;
  }

  .account-container{
    max-width: 75%;
  }

  .language-button {
    font-size: 1rem;
  }

  .game-slider-showcase {
    .sport-options {
      button {
        font-size: 1.35rem;
        padding: 0.45rem 1.3rem;

      }
    }
  }

  .game-card {
    height: 1rem;
    width: 1rem;
  }


  .streams-page{
    max-width: 80%;
  }

  .showcase{
    max-width: 100%;
    margin: 0 2rem;
    

    .newsbox{
      .nav-link{
        max-width: 100%;
        width: 100%;
        div{
          max-width: 100%;
        }
      }
    }

    .games-column{
      max-width: 80%;
    }
  
    .game-card{
      max-width: 100%;
    }
    .newsbox{
      max-width: 90%;



      .horizontal{}



      .dot-pagination{
        max-width: 100%;
      }
    }
    .news-card{
      max-width: 80%;
    }
  }

  .grid-container{
    max-width: 80%;

    .grid{
      grid-template-columns: repeat(2, 1fr) !important;
      margin:1rem auto;
      gap: 3rem;
    }
  }
  
}