@media (max-width: 768px) {

  .account-container{
      max-width: 60%;

    .accountInfoContainer{
      flex-direction: column;
    }
  }

  header{

    .logo-btn{
      left: 0;
      margin: 0 1rem;
      transform: none;
    }
  }

  .news-block{
    max-width: 80%;

    h1{
      font-size: 2rem;
    }
  }

  .notExistingPage {
    font-size: 2rem;
  }
}