@import "header.css";
@import "games.css";
@import "news.css";
@import "sportsBtn.css";
@import "footer.css";
@import "sportPage.css";
@import "sign.css";
@import "iconsBlock.css";

@font-face {
    font-family: 'RubikBubbles';
    src: url('./fonts/RubikBubbles-Regular.ttf') format('woff2');
}

:root{
    --main-background-color: #D3D9E9;
    --special-dark-purple: #31293F;
    --special-light-purple: #A6A9C8;
    --special-red: #B82426;
    --main-text-color: #D3D9E9;
    --purple-btn-color: #796EA8;
    --special-grey: #818398;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: "Times New Roman";
    background-color: var(--main-background-color);
}

.hidden{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4vh;
}
