.news{
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 4vh 0 0;
    background-color: white;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    overflow: hidden;

    &.narrow {
        width: 30%;
    }

    &.wide {
        width: 60%;
    }

    .newsBox{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 95%;
        margin: auto auto 0.1vh;
        cursor: pointer;

        .newsInsight{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            word-break: break-all;
        }

        h4, h1{
            text-decoration: none;
            margin: 0;
            text-align: justify;
        }

        h4{
            color: var(--special-grey);
            align-self: end;
            white-space:pre-wrap;
            word-break: normal;
        }

        img{
            max-height: 50rem;
            width: 100%;
            margin: 0.5rem auto;
            border-radius: 1em;
        }
    }

    &.wrapedNews{
        display: flex;
        flex-wrap: wrap;

        .newsBox{
            width: 45%;
            margin: auto auto 0;

            img{
                width: 95%;
            }

            hr{
                width: 98%;
            }
        }
    }

    .newsTitle{
        width: 100%;
        text-align: center;
        margin: 0;
        background-color: var(--special-dark-purple);
        color: var(--main-text-color);
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
        font-size: 4vh;
    }

    h1{
        font-size: 1.5rem;
    }


    hr{
        align-self: center;
        border: 0.2vh solid var(--special-grey);
        width: 100%;
    }
}
