.sportPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sportTitle {
        margin: 1rem 0;
        text-transform: capitalize;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    .news {
        width: 80%;
        background-color: var(--special-light-purple);
        border-radius: 0.5rem;
        margin-top: 0;

        .newsBox {
            flex-direction: row;
            justify-content: space-evenly;
            width: 95%;
            margin: 1rem auto;

            .newsInsight {
                width: 55%;
            }

            h4, h1 {
                margin: 0 0.5rem 0 2rem;
                align-self: end;
            }

            img {
                width: 45%;
            }

            .leftPlaceData {
                align-self: start;
            }
        }

        hr {
            margin: 0 auto 1rem;
            border: 0.1vh solid white;
            width: 95%;
        }
    }

    .leaguesBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        .leaguesFilter{
            display: flex;
            flex-direction: row;
            align-self: start;
            margin: 2rem auto 0;
            gap: 2rem;
            width: 100%;
        }

        .leaguesSearch{
            width: 15rem;
            height: 2rem;
            border-radius: 0.5rem;
            padding: 0 0.2rem;
            font-size: 1rem;
            font-weight: bold;
        }

        .leaguesCountry{
            all: unset;
            width: 10rem;

            button{
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10rem;
                height: 2rem;
                font-size: 1rem;
                background-color: var(--special-dark-purple);
                border-radius: 0.5rem;
                color: var(--main-text-color);
                cursor: pointer;
            }
        }
    }

    .pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom: 1rem;

        li {

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                background-color: var(--purple-btn-color);
                color: var(--main-text-color);
                border-radius: 50%;
                cursor: pointer;
                margin: 0 0.5rem;
                font-size: 1.75rem;
                font-weight: bolder;
                width: 2.5rem;
                height: 2.5rem;
            }

            a:hover{
                color: var(--main-text-color);
            }
        }
    }

    .activePaginationPane {

        a{
            border: solid 0.3rem #2BA36C;
            border-radius: 50%;
        }
    }
}