.navSports{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 2rem;
    margin: 4vh 0 0 0;
    width: 30%;

    .sportBox{
        display: flex;
        justify-content: center;
        cursor: pointer;

        img{
            background-color: white;
            padding: 0.5rem;
            border: 0.9rem solid var(--special-dark-purple);
            border-radius: 2vh;
            width: 7.5rem;
            height: 7.5rem;
            object-fit: contain;
        }
    }
}